* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.y_bord {
    /* height: 170px; */
    /* border: 2px dashed black; */
}

.header_top {
    z-index: 55;
}

.navbar {
    padding: 0;
}

.header_bottom {
    height: 110px;
    position: absolute;
    top: 58px;
    width: 100%;
    padding-left: 40px;
}

.y_backco {
    background-color: #2874F0;
    /* height: 56px; */
}

main {
    height: 1000px;
}


.y_dnone {
    display: none;
}

.inputf:focus-within+.showonfocus {
    display: block;
    z-index: 10;
}

.showonfocus a:hover {
    background-color: rgb(189, 173, 151);
}

.carousel-control-next,
.carousel-control-prev {
    width: 4%;
    background-color: white;
    opacity: 1 !important;
    height: 38%;
    top: 94px;
}

.main_2,
.main_3 {
    height: 342px;

}

footer.y_foot {
    height: 350px;
    background-color: #172337;
}

footer hr {
    padding: 1px;

}

.y_footer_top {
    height: 277px;
    /* border: 2px solid red; */
}

.y_footer_top a {
    font-size: 0.8rem;
}

.y_footer_bottom {
    height: 72px;
    /* background-color: palevioletred !important; */
}

@media (min-width:1400px) {
    .container {

        max-width: 1087px;
    }
}